@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.nav_container {
  height: 88px;
}

.search_container {
  height: 40px;
  max-width: 780px;
}

.search_logo {
  border-radius: 200px;
  background-color: transparent;
  border-right: none;
  padding-right: 0;
}

.search_input {
  border-radius: 200px;
  background-color: transparent;
  border-left: none;
  padding-left: 8px;
}

.button_container {
  gap: 16px;
}

.button {
  width: 78px;
  height: 40px;
  font-size: 12px;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  line-height: 14.52px;
}

.form_button_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}

.logo {
  margin-right: 24px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: inherit;
}

/* @media screen and (max-width: 768px) {
  .form_button_container {
    flex-direction: column;
  }

  .button_container {
    align-items: flex-end;
  }
} */
