.nav_container {
	height: 88px;
}

.search_container {
	height: 40px;
	max-width: 780px;
}

.search_logo {
	border-radius: 200px;
	background-color: transparent;
	border-right: none;
	padding-right: 0;
}

.search_input {
	border-radius: 200px;
	background-color: transparent;
	border-left: none;
	padding-left: 8px;
}

.button_container {
	gap: 16px;
}

.button {
	width: 78px;
	height: 40px;
	font-size: 12px;
	font-weight: 700;
	line-height: 14.52px;
}

.form_button_container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	gap: 24px;
}

.logo {
	margin-right: 24px;
}

.link {
	text-decoration: none;
	color: inherit;
}

.link:hover {
	color: inherit;
}

.header_button:hover {
	color: #fff !important;
}

@media (max-width: 575.98px) {
	.header_logo {
		width: 9.5rem;
		height: 2.5rem;
		object-fit: cover;
	}
}